#monster1 {
	background: url("spawn_melee_green.png");
	height: 64px;
	width: 64px;
	display: inline-block;
}
#monster2 {
	background: url("spawn_ranged_green.png");
	height: 64px;
	width: 64px;
	display: inline-block;
}
#levelmap {
	background: url("level_blueprint.png");
}

#nick2 {
	height:64px;
}

#container {
	width: 600px;
	max-height: 64px;
	display: block;
	margin:5px;
}


#roominput {
	vertical-align: top;
	height:64px;
	display: inline-block;
	font-size: 24px;
}

#sessionlist {
	margin-left: 6px;
	margin-top: 6px;

}

td {
	padding: 3px;
}

#refresh {
	margin-left: 6px;
}