.top-buffer{
	margin-top: 30px;
}

.top-buffer-max{
	margin-top: 100px;
}

#sessionlist li{
	margin: 0 0 3px 0;
}

#manualAttackId{
	margin-top: 150px;
}


#attackButton{
	margin-top: 5px;
}

body {
	background-color: #040506;
	color: #ecf0f1;
}

.container{
	background: #1F2627;
    border-radius: 10px;
}

input{
   text-align:center;
}

.btn{
	background-color: #c0392b;
	border-color: #672C25;
	color: #ecf0f1; 
}

.modal-title{
	color: #2c3e50;
}


.modal-body{
	color: #2c3e50;
}

#mainJumbo{
	background: url('front.png') no-repeat center center;
}

#levelmap {
	background: url('level_blueprint.png') no-repeat bottom;
	border: 1px solid red;
}

#hpcanvas {
	border: 1px solid red;
}

.monster {
	background-color: gray;
}
#roominput {
	background-color: gray;
}
